@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #ffffff;
  color: #000000;
}

/* Pages  */

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

/* Main-index */
.main-index {
  background-image: url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Advantages-block */

.advantages-block, .advantages-block-welcome {
  text-align: center;
}

/* Header */
.header-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/* Description */
.desc-block {
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  line-height: 26px;
}

/* Advantages */
/* List */
.advantages-list {
  list-style-type: none;
  text-align: center;
}

/* Title */
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  line-height: 28px;
}

/* Description */
.advantages-desc {
  font-weight: 400;
}

/* Services */
/* List */
.services-list {
  text-align: center;
}

/* Title */
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* Interested */
.interested {
  text-align: center;
}

/* Subscribe */
.subscribe {
  text-align: center;
}

/* Input */

input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 0 14px 20px;
}

/* Footer */
/* Footer-contact-number */
.footer-contact-number {
  text-align: center;
}

/* Footer-phone */
.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
